<center>
    <b>
        <a target='_blank' href='http://maps.google.com/maps?daddr=2209 Creek Hill Road,Lancaster,PA '>
            2209 Creek Hill Road
            <br>
            Lancaster, PA   17601
            <br>
            717-945-5739
        </a>
        <br>
        <a href='http://www.milestoneconstruction.biz'>Visit Our Other Site</a>
        <br>
        PA 013600
    </b>
</center>
