<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    {{ template "head.tmpl" . }}

    <title>Milestone Construction LLC - Professional Home Remodeling - Bath</title>

</head>

<body>

    {{ template "navbar.tmpl" . }}

    <div id="main">

        <div id="main_inner" class="fixed">

            <div id="primaryContent_columnless">

                <div id="columnA_columnless">

                    <h2>Bath Remodeling</h2>

                    <p>
                        <img src='static/images/bath1.jpg' class='float-right'> Nothing can lift your spirits more than having a gorgeous bathroom where you can soak away your stress. Bathroom remodeling can add value to your home as well as to your soul. Whether you're dreaming of a luxurious retreat with
                        a separate shower and tub or simply want to update the look of your guest bathroom, we can help. Our remodeling design experts will offer you all the remodeling expertise, product knowledge, and exciting design ideas to guide you
                        through the process with ease.
                        <br>
                        <br> Whether you have a precise picture in your mind of what you want... or you'd like our designers to stimulate you with their own ideas, we can transform your existing bathroom into a high class living space that's as functional
                        as it is beautiful. We take your concept and assemble it into the bathroom retreat of your dreams. If you're not sure, don't worry! Let us draw up a design that is in tune with the character of your home and your budget.
                        <br>
                        <br> Bathroom remodeling has evolved into an art form. Even a very modest remodeling project can have an artistic flair. No matter what you have in mind, we have the solutions to help you.
                    </p>
                    <br>
                    <p>
                        <img src='static/images/ac_logo.jpg' class='float-right'>
                    </p>
                    <br>
                    <br>
                    <center>
                        <a href='http://www.wellborn.com/index.php?nav_id=271&who=Dealer' target='_blank'>View Bath Gallery</a>
                    </center>
                    <br>

                    <center>
                        <img src='static/images/bath2.jpg'>
                    </center>
                    <br>

                    {{ template "address.tmpl" . }}
                </div>

            </div>

            <br class="clear" />

        </div>

    </div>

    {{ template "foot.tmpl" . }}

</body>

</html>
