<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    {{ template "head.tmpl" . }}

    <title>Milestone Construction LLC - Professional Home Remodeling - Build</title>

</head>

<body>

    {{ template "navbar.tmpl" . }}

    <div id="main">

        <div id="main_inner" class="fixed">

            <div id="primaryContent_columnless">

                <div id="columnA_columnless">

                    <h2>Remodeling - The Building Process</h2>

                    <p>
                        <img src='static/images/build1.jpg' class='float-right'> Aside from adding more living space to your home, a new home addition can be a great investment. Nevertheless, prior to starting such a project the homeowner should consider several important items first. These items include the
                        current home comparable market values in the area neighborhood, project financing, addition size and scale, architecture, estimated time for completion, personal inconvenience threshold, determination and self commitment.
                        <br>
                        <br> Right about now you're thinking that this sounds like a lot of work. Well you are right, but don't let that scare you. Our project managers will help you every step of the way from paper to finished product.
                    </p>
                    <table border=0 align=center>
                        <tr>
                            <td>
                                <img src='static/images/build2.jpg'>
                            </td>
                            <td>
                                <img src='static/images/build3.jpg'>
                            </td>
                            <td>
                                <img src='static/images/build4.jpg'>
                            </td>
                        </tr>
                    </table>
                    <br>


                </div>

            </div>

            <br class="clear" />

        </div>

    </div>

    {{ template "foot.tmpl" . }}

</body>

</html>
