<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    {{ template "head.tmpl" . }}

    <title>Milestone Construction LLC - Professional Home Remodeling - Contact Us</title>

</head>

<body>

    {{ template "navbar.tmpl" . }}

    <div id="main">

        <div id="main_inner" class="fixed">

            <div id="primaryContent_columnless">

                <div id="columnA_columnless">

                    <h2>Contact Us</h2>
                    <br>
                    <iframe frameborder=0 src="http://wss-sc.com/salescentral/cform/iframe.php?kunnr=0001001528&add_email=doug@milestoneconstruction.biz&remodeler=173" width="300px" height="300px">
                        <p>Your browser does not support iframes.</p>
                    </iframe>

                    <br>

        
                </div>

            </div>

            <br class="clear" />

        </div>

    </div>

    {{ template "foot.tmpl" . }}

</body>

</html>
