<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    {{ template "head.tmpl" . }}

    <title>Milestone Construction LLC - Professional Home Remodeling - Decks</title>

</head>

<body>

    {{ template "navbar.tmpl" . }}

    <div id="main">

        <div id="main_inner" class="fixed">

            <div id="primaryContent_columnless">

                <div id="columnA_columnless">

                    <h2>Deck Remodeling</h2>

                    <p>
                        <img src='static/images/deck1.jpg' class='float-left'> Entertaining at home is a trend that is certainly on the rise. Cooking out with family and friends is a great way to have a wonderful evening right in your own back yard. The perfect deck will make that evening even more enjoyable.
                        Decks can range in any size and can be built out of many materials including great choices that require little to no maintenance. Deck lighting is also important to create an evening mood of class and style. This novel idea is
                        changing the way decks are enjoyed during the evening hours with outdoors pools and outdoor kitchens.
                        <br>
                        <br> Leave it to the professional to design the perfect outdoors right in your own back yard. You can cook the best barbecue, but leave it to us to create the perfect deck.
                    </p>
                    <table border=0 align=center>
                        <tr>
                            <td>
                                <img src='static/images/deck4.jpg'>
                            </td>
                            <td>
                                <img src='static/images/deck2.jpg'>
                            </td>
                            <td>
                                <img src='static/images/deck3.jpg'>
                            </td>
                        </tr>
                    </table>
                    <br>

            
                </div>

            </div>

            <br class="clear" />

        </div>

    </div>

    {{ template "foot.tmpl" . }}

</body>

</html>
