<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    {{ template "head.tmpl" . }}

    <title>Milestone Construction LLC - Professional Home Remodeling - Design</title>

</head>

<body>

    {{ template "navbar.tmpl" . }}

    <div id="main">

        <div id="main_inner" class="fixed">

            <div id="primaryContent_columnless">

                <div id="columnA_columnless">

                    <h2>Remodeling - The Design Process</h2>

                    <p>
                        <img src="static/images/design1.jpg" class="float-right"> A good design is the difference between enjoying your remodeling process and vowing never to do it again. The home remodeling process is difficult as it is; why further complicate it with an incomplete design. We believe in starting
                        your project off right.
                        <br>
                        <br> Our team specializes in providing creative solutions for our clients starting the first time you contact us. Our interview process ensures that you and your designer are on the same page. We also encourage our clients to interview
                        us - we believe we are the best in the business, so go ahead and make us prove it up front.
                        <br>
                        <br> By taking the time to get a fully complete and correct design, we eliminate as many headaches as possible before your project has even started. And at the end our clients receive a professionally designed remodeling project that
                        makes their dreams a reality.
                    </p>
                    <table border=0 align=center>
                        <tr>
                            <td>
                                <img src="static/images/design2.jpg">
                            </td>
                            <td>
                                <img src="static/images/design3.jpg">
                            </td>
                        </tr>
                    </table>
                    <br>

    
                </div>

            </div>

            <br class="clear" />

        </div>

    </div>

    {{ template "foot.tmpl" . }}

</body>

</html>
