<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    {{ template "head.tmpl" . }}

    <title>Milestone Construction LLC - Professional Home Remodeling - Flooring</title>

</head>

<body>

    {{ template "navbar.tmpl" . }}

    <div id="main">

        <div id="main_inner" class="fixed">

            <div id="primaryContent_columnless">

                <div id="columnA_columnless">

                    <h2>Flooring Remodeling</h2>

                    <p>
                        <img src='static/images/floor2.jpg' class='float-right'>There are so many products to choose when selecting flooring for your home and each room is unique to the selection. Hardwood flooring is very durable for high traffic areas. Whether you choose solid or engineered wood-this flooring
                        can go anywhere in the home. Wood has color too and with the right choice...your floors will become part of the style of your home...not just what you walk on.</p>
                    <p>
                        <img src='static/images/floor3.jpg' class='float-left'>Carpets bring warmth to the room and today there are broad color and style combinations as well as visual and actual textures to enhance the style of your room. Styles and grades are available for every pocketbook.</p>
                    <p>
                        <img src='static/images/floor1.jpg' class='float-right'>Ceramic Tile is exceedingly durable due to its solid surface. Whether you are designing a Mediterranean villa or a contemporary loft, the unlimited colors and shapes are available for the perfect look. Our professionals can also
                        help you select the right tiles for outdoors as well.</p>
                    <p>Let our designers work with you to the select the right flooring for each room inside and outside your home.</p>
                    <br>

                    {{ template "address.tmpl" . }}
                </div>

            </div>

            <br class="clear" />

        </div>

    </div>

    {{ template "foot.tmpl" . }}

</body>

</html>
