<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    {{ template "head.tmpl" . }}

    <title>Milestone Construction LLC - Professional Home Remodeling - Garage</title>

</head>

<body>

    {{ template "navbar.tmpl" . }}

    <div id="main">

        <div id="main_inner" class="fixed">

            <div id="primaryContent_columnless">

                <div id="columnA_columnless">

                    <h2>Garage Remodeling</h2>

                    <p>
                        <img src='static/images/garage1.jpg' class='float-left'> More and more people are including the garage in their home remodeling projects. If you haven't before, think about it - lighting, storage, shelving, flooring, that huge door everyone sees from the road - there are a lot of ways
                        to spruce up your garage and add to the value and visual appeal of your home.
                        <br>
                        <br> If you are like us, you probably do more than just park your car in your garage. People are using their garages as workshops, laundry rooms, extra storage, exercise areas and more. All of these require proper lighting, a good
                        floor, or additional storage.
                        <br>
                        <br> Tonight when you park your car after driving home from work, take a look at your garage. If you see some areas that can be improved, let one of our specialists help you get as much as you can out of this highly functional area
                        of your home.
                    </p>
                    <table border=0 align=center>
                        <tr>
                            <td>
                                <img src='static/images/garage2.jpg'>
                            </td>
                            <td rowspan='2'>
                                <img src='static/images/garage6.jpg'>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src='static/images/garage3.jpg'>
                            </td>
                        </tr>
                    </table>
                    <br>

    
                </div>

            </div>

            <br class="clear" />

        </div>

    </div>

    {{ template "foot.tmpl" . }}

</body>

</html>
