<meta name="Description" content="Professional Home Remodeling.  Specializing in other rooms,decks,garage,design,windows & doors,roof,bath,kitchen,build,flooring." />
<meta name="Keywords" content="remodel, remodeling, other rooms,decks,garage,design,windows & doors,roof,bath,kitchen,build,flooring" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="static/style.css" />
