<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    {{ template "head.tmpl" . }}

    <title>Milestone Construction LLC - Professional Home Remodeling - Kitchen</title>

</head>

<body>

    {{ template "navbar.tmpl" . }}

    <div id="main">

        <div id="main_inner" class="fixed">

            <div id="primaryContent_columnless">

                <div id="columnA_columnless">

                    <h2>Kitchen Remodeling</h2>

                    <p>
                        <img src='static/images/well_logo_recolor.jpg' class='float-right'> Remodeling your kitchen involves more detail and planning than any other room of your home. Our planning and design work is precise, with accurate wall and cabinetry measurements. And, because we are an authorized contractor for
                        Wellborn Cabinet, our designs can be aesthetically perfected in any style that you like.
                    </p>

                    <table border=0 align='center'>
                        <tr>
                            <td>
                                <img src='static/images/kitchen2.jpg'>
                            </td>
                            <td>
                                <img src='static/images/kitchen1b.jpg'>
                            </td>
                        </tr>
                    </table>
                    <p>

                        A thorough knowledge of materials and their applications, coupled with skilled installation techniques, is essential to carry out a fine design and assure the durability that you deserve in your renovation. It is our policy to provide every client with
                        extensive guidance and design services. We prefer to spend as much time up front as needed to assure you the highest level results.
                    </p>
                    <p>
                        <img src='static/images/kitchen3.jpg' class='float-left'> Remember, kitchens have become the centerpiece of the modern home and a focal point of everyday life and entertaining. More than any other room, the kitchen seems to be where we spend more and more time while at home. Whether
                        you want to modernize and update the space or completely start from scratch, the first step to a successful kitchen renovation is a good design and planning which is exactly what you will get at Milestone Construction LLC.

                    </p>

                    <p>Wellborn works with the best! As a Wellborn Authorized Contractor, we are members of a select group of remodeling contractor professionals who partner with Wellborn to deliver quality product and services that insure homeowners are
                        completely satisfied.
                        <img src='static/images/ac_logo.jpg' class='float-right'>
                    </p>
                    <center>
                        <a href='http://www.wellborn.com/index.php?nav_id=241&who=Dealer' target='_blank'>View Kitchen Gallery</a>
                    </center>
                    <br>
                </div>
            </div>
        </div>
    </div>

    {{ template "foot.tmpl" . }}

</body>

</html>
