<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    {{ template "head.tmpl" . }}

    <title>Milestone Construction LLC - Professional Home Remodeling - Other Services</title>

</head>

<body>

    {{ template "navbar.tmpl" . }}

    <div id="main">

        <div id="main_inner" class="fixed">

            <div id="primaryContent_columnless">

                <div id="columnA_columnless">

                    <h2>Other Services</h2>
                    <br>In addition to the services listed above, we also specialize in the following. Please click on the headings for more detail.
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <a href='/decks'>
                                <h2>Decks</h2>
                                <img src='static/images/decks_more.jpg'>
                            </a>
                        </div>
                        <div class="col-lg-4 text-center">
                            <a href='/windowsDoors'>
                                <h2>Windows & Doors</h2>
                                <img src='static/images/windowsdoors_more.jpg'>
                            </a>
                        </div>
                        <div class="col-lg-4 text-center">
                            <a href='/flooring'>
                                <h2>Flooring</h2>
                                <img src='static/images/flooring_more.jpg'>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-4 text-center">
                            <a href='/design'>
                                <h2>Design</h2>
                                <img src='static/images/design_more.jpg'>
                            </a>
                        </div>
                        <div class="col-lg-4 text-center">
                            <a href='/build'>
                                <h2>Build</h2>
                                <img src='static/images/build_more.jpg'>
                            </a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    {{ template "foot.tmpl" . }}

</body>

</html>
