<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    {{ template "head.tmpl" . }}

    <title>Milestone Construction LLC - Professional Home Remodeling - Other Rooms</title>

</head>

<body>

    {{ template "navbar.tmpl" . }}

    <div id="main">

        <div id="main_inner" class="fixed">

            <div id="primaryContent_columnless">

                <div id="columnA_columnless">

                    <h2>Other Room Remodeling</h2>

                    <p>We don't stop in the kitchen. Our professionals can design any room of the home including a new laundry room, entertainment cabinetry, pantries, mudrooms, home offices and more. The kitchen is usually the first room to get remodeled
                        since it is the center of the home. Next comes the bathroom to get that luxurious retreat you have always dreamed of. After these projects are completed, and sometimes during, you begin looking at the other rooms of the home that
                        are out of style and have little to no function. Just leave it to the professional and we can certainly assist you with these rooms as well.
                    </p>
                    <br>
                    <table align='center'>
                        <tr>
                            <td>
                                <img src='static/images/other4.jpg'>
                            </td>
                            <td>
                                <img src='static/images/other5.jpg'>
                            </td>
                        </tr>
                    </table>
                    <p>The perfectly designed laundry room includes preplanned spaces for all those supplies and racks for the delicates to hang dry. The living room has changed from the single standing television with manual turn knobs to elaborate wide
                        screens that are encased with beautiful cabinetry complete with storage of all your multimedia needs. Home offices have become a must in every household with many now working from home. We can provide both functional and beautiful
                        cabinetry to fit your style from traditional to transitional offices. Let us create a space for all that clutter. Children can place all their coats, book bags, shoes, ball gear and more neatly in the perfect mudroom. And hopefully
                        you won't hear, Mom, where did you put my book bag?, each morning. </p>
                    <br>
                    <center><a href='http://www.wellborn.com/index.php?nav_id=248&who=Dealer' target=_blank>View Other Rooms Gallery</a></center>

                    <table align='center'>
                        <tr>
                            <td>
                                <img src='static/images/other1.jpg'>
                            </td>
                            <td>
                                <img src='static/images/other2.jpg'>
                            </td>
                            <td>
                                <img src='static/images/other3.jpg'>
                            </td>
                        </tr>
                    </table>
                    <br>
                </div>
            </div>
        </div>
    </div>

    {{ template "foot.tmpl" . }}

</body>

</html>
