<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    {{ template "head.tmpl" . }}

    <title>Milestone Construction LLC - Professional Home Remodeling - Roof</title>

</head>

<body>

    {{ template "navbar.tmpl" . }}

    <div id="main">

        <div id="main_inner" class="fixed">

            <div id="primaryContent_columnless">

                <div id="columnA_columnless">

                    <h2>Roof Renovation</h2>

                    <p>
                        We specialize in custom home roofing systems that capture each individuals taste and creativity. Whether it is a roof remodel, replacement or a new build, each project is rigorously inspected daily, for strength, durability and beauty.</p>
                    <table border=0 align=center>
                        <tr>
                            <td>
                                <img src='static/images/roof1.jpg'>
                            </td>
                            <td>
                                <img src='static/images/roof4.jpg'>
                            </td>
                        </tr>
                    </table>

                    <p>
                        Maintaining your existing roof system is one of the best ways to protect your home from major problems. Sometimes the warning signs of a failing roof are obvious. Missing shingles, excessive granular loss, curling shingles and water stains inside the
                        house are some of the more common roofing problems. Unfortunately, all roofing problems are not as easy to detect and can lead to major damages inside the home. A professional evaluation from one of our trained consultants can
                        help keep your home and family protected.
                    </p>
                    <table border=0 align=center>
                        <tr>
                            <td>
                                <img src='static/images/roof2.jpg'>
                            </td>
                            <td>
                                <img src='static/images/roof3.jpg'>
                            </td>
                            <td>
                                <img src='static/images/roof5.jpg'>
                            </td>
                        </tr>
                    </table>
                    <br>

                    {{ template "address.tmpl" . }}
                </div>

            </div>

            <br class="clear" />

        </div>

    </div>

    {{ template "foot.tmpl" . }}

</body>

</html>
