<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    {{ template "head.tmpl" . }}

    <title>Milestone Construction LLC - Professional Home Remodeling - Windows & Doors</title>

</head>

<body>

    {{ template "navbar.tmpl" . }}

    <div id="main">

        <div id="main_inner" class="fixed">

            <div id="primaryContent_columnless">

                <div id="columnA_columnless">

                    <h2>Window and Door Remodeling</h2>

                    <p>
                        <img src='static/images/window1.jpg' class='float-right'>Are you ready for new windows and doors? Just think about it. One of the most common reasons to replace your existing windows and doors is to increase the energy efficiency of your home. By replacing these you can save the wasted
                        money you are paying out year after year on energy bills. There are many quality projects on the market today engineered to increase energy efficiency and we can help you select the one right for your budget.
                    </p>
                    <p>
                        <img src='static/images/window2.jpg' class='float-left'>From selecting your windows and doors through the day we install them, our professional team will make sure this project is complete to your satisfaction. We work with the best products on the market to make sure you get the best
                        quality.
                    </p>
                    <p>
                        Style is certainly top of the list when choosing these products as well. From skylights to beautiful entry doors, we will help select they style that meets your home.
                    </p>
                </div>
            </div>
        </div>
    </div>

    {{ template "foot.tmpl" . }}

</body>

</html>
